@import 'tailwindcss';

@theme {
  --font-instrumentSans: var(--fontFamily-instrumentSans), ui-sans-serif, system-ui, sans-serif;
  --font-inter: var(--fontFamily-inter), ui-sans-serif, system-ui, sans-serif;
  --font-playfair: var(--fontFamily-playfair), Georgia, serif;
}
